
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'STIX Two Text', serif;
} */

.menu-container {
    color: rgb(66, 66, 66);
    background-color: #ccdbfd;  /* Blue */
    padding: 20px 0;
  }
  
  .home {
    margin: auto;
    width: 900px;
    text-align: center;
    font-size: 1.5em;
    /* border: 1px solid red; */
}
 .home:hover, .user-name:hover {
   cursor: pointer;
 }

.header-container {
    /* background-color: #f8edeb; */
    padding: 20px 0;
  }
  
  .title {
    display: block !important;
    font-size: 3rem;
    text-align: center;
    margin: 10px 0 0 0;
    /* border: 1px solid blue; */
  }
  
  .create-post-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    border: 1px solid cyan;
    margin-bottom: 1em;
    padding: .5em;
}

.ui.grid {
  width: 80%;
  margin: auto;
  /* border: 1px solid red; */
}

.ui.grid > .row > .column {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.post-content {
  font-size: 1.2em;
}

/* .post-item {
  width: 300px;
  height: 100px;
  margin: 1em;
  border: 1px solid black;
}  */

/* .ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
} */


.ui.card {
  margin: auto;
  margin-top: 20px;
}

.form-container {
  margin: auto;
  margin-bottom: 10px;
}

#post-input {
  width: 700px;
  height: 45px;
  border: none;
  box-shadow: 0 0 2px 1px #d4d4d5,0 0 0 1px #d4d4d5;
}


/* #task-name, #add-task-btn {
  height: 40px;
  font-size: 1.5em;
  border: 1.5px solid #ffb3c1;
  margin: .3em 0;
}

#task-name {
  border-right: none;
  width: 70%;
  padding-left: .7em;
  color: black; 

#add-task-btn {
  background: pink;
  color: white;
  cursor: pointer;
  width: 7%;
}

#add-task-btn:hover {
  background-color: rgb(248, 126, 147);
}


.task-container {
    padding: 10px 0;
  }

  .error {
    color: red;
    font-size: 1.5em;
    text-align: center;
  }


  /* .post-item {
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .tasks {
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .5em;
  }

  .list-item {
    width: 90%;
    word-wrap: break-word;
    font-size: 1.5em;
    padding: .2em .2em;
    margin: 0 .2em;
  }
*/